.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  min-height: 70vh;
  align-items: flex-start;
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 340px;
  }
}

@media (max-width: 899px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
